body{
    font-family: 'Montserrat';
}

h1{
    font-family: 'Montserrat';
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 900;
    color: #ffffff;
}
h2{
    font-family: 'Montserrat';
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.5;
}
h3{
    font-family: 'Montserrat';
    font-size: 2rem;
    line-height: 1.5;
    font-weight: bold;
    color: #000000;
}
.download-btn{
    margin: 5% 3% 5% 0% ;
}
.container-fluid{
    padding: 3% 15% 10% 15%;
}

.navbar {
    padding-bottom: 5rem;
}

.navbar-brand{
    font-family:'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-link{
    padding-left: 40px;
    padding-right: 40px;
    font-size: 1.5rem;
    font-family: 'Montserrat';
    font-weight:200;
}
.title-img{
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

.nav-item {
    padding:0 18px; 
}
.fas {
    color: #ef8172;
    
}
.feature-box{
    text-align: center;

}

/* id */
#title {
    background-color: #ff4c68
}
#features {
    text-align: center;
    padding: 7% 15%;
    color: #8f8f8f;
    font-size:1.2rem;
    background-color: #ffffff;
    position: relative;
}
#testimonials{
    padding:7% 10%;
    text-align: center;
    background-color: #ff4c68;
    color: #fff;    
}

.testimonial-img{
    width: 10%;
    border-radius: 100%;
    margin: 20px; 
}

#press{
    background-color: #ff4c68;
    text-align: center;
}

.press-img{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    height:500px;
    text-align: center;
}

#pricing{
    padding: 100px;
}

.pricing-column{
    padding: 3% 2%;
}

@media (max-width: 1332px) {
    #title{
        text-align: center;
    }
    .title-img{
        position: static;
        transform:rotate(0);
    }
    
}
#cta{
    background-color: #ff4c68;
    font-family: 'Montserrat';
    color: #fff;
    text-align: center;
    

}
.cta-h3{
    color: #fff;
    font-size: 3rem;
    line-height: 1.5;
    padding: 50px 15% 10px;
}
.cta-button{
        margin: 5% 3% 2% 0% ;
}

#footer{
    background-color: #fff;
}